<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>


<div class="bottomContainer">   
    <div class="bottomSection">
        <div class="container">
            <div class="bottomGrid">
                <div class="phones">
                    <div class="title">Telefonlar</div>
                    <div class="phoneCon">
                        <div class="phone">+993 64813308</div>
                        <div class="phone">+993 64813308</div>
                    </div>
                </div>
                <div class="adress">
                    <div class="title">Adress</div>
                    <div class="adressCon">Andalyp kocesinin 102-nji jayynyn 5-nji oyi we sm</div>
                </div>
                <div class="email">
                    <div class="title">Email</div>
                    <div class="emailCon"> info@tstb.gow.tm</div>
                </div>
                <div class="about">
                    <div class="title">About us</div>
                    <div class="aboutCon">
                        <div class="info">fjdkjfkdjkfjd</div>
                        <div class="info">fjdkjfkdjkfjd</div>
                    </div>
                </div>
            </div>
            <div class="lastThreeLine">
                <div>O CPPT</div>
                <div>konfidension</div>
                <div>Obratnaya swyaz</div>
            </div>
        </div>
    </div>
    <div class="bottomInformation" >
        <div class="container bottomCon">
            <div class="titleCon">
                <div class="big">Yazylyshyk</div>
                <div class="title">Oz email inizi girizin tazelikler ucin</div>
            </div>
            <div class="inputCon">
                <input type="email" placeholder="Email Address">
                <input type="submit" value="Goshulmak">
            </div>
        </div>
    </div>
</div>


<script src="/scripts/main.js"></script>
  <script src="/scripts/src/materialize/materialize.js"></script>
  <script src="/scripts/src/materialize/splide.js"></script>
  <!-- <script src="/scripts/src/materialize/flickity.pkgd.js"></script> -->
  <script src="/scripts/src/jquery/jquery.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.chosen-lang');
      var instances = M.Dropdown.init(elems,'left',);
    });
  </script>
  <script>

    // $(".bottomContainer").mouseenter(function(){
    //     $(".bottomSection").css("top","200px");
    // })
    // $(".bottomContainer").mouseleave(function(){
    //     $(".bottomSection").css("top","0");
    // })


// variant 1
    // $(".bottomContainer").mouseenter(function(){
    //     $(this).css("height","452");
    //     window.scrollTo({top:window.scrollY+200,behavior:'smooth'})
    // })
    // $(".bottomContainer").mouseleave(function(){
    //     window.scrollTo({top:$(document).height()-$(window).height()-200,behavior:'smooth'})
    // })


  </script>
  </body>
</html>