<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>


<div class="bottomContainer">   
    <div class="bottomSection">
        <div class="container">
            <div class="bottomGrid">
                <div class="phones">
                    <div class="title">Telefonlar</div>
                    <div class="phoneCon">
                        <div class="phone">+993 64813308</div>
                        <div class="phone">+993 64813308</div>
                    </div>
                </div>
                <div class="adress">
                    <div class="title">Adress</div>
                    <div class="adressCon">Andalyp kocesinin 102-nji jayynyn 5-nji oyi we sm</div>
                </div>
                <div class="email">
                    <div class="title">Email</div>
                    <div class="emailCon"> info@tstb.gow.tm</div>
                </div>
                <div class="about">
                    <div class="title"><a href="/sppt" data-content id="spptBarada" style="text-decoration: none; color: gray;">O CPPT</a></div>
                    <div class="title" style="margin-bottom: 0; font-size:16px" ><a id="jogap" data-content href="/#bolumler" style="color:gray;text-decoration: none; cursor: pointer;">Obratnaya swyaz</a></div>
                </div>
            </div>
            <div class="lastThreeLine">
                <div><a href="/sppt" data-content id="spptBarada" style="text-decoration: none;color:gray">O CPPT</a></div>
                <div ><a id="jogap" data-content href="/#bolumler" style="text-decoration: none;color:gray">Obratnaya swyaz</a></div>
            </div>
            <div class="followers">
                <div class="title" id="watched" data-content>Followers</div>
                <div class="followCounts">
                    <div class="day">101 <span data-content id="gunlik">a day</span></div>
                    <div>|</div>
                    <div class="month">1232 <span data-content id="aylyk">a month</span></div>
                    <div>|</div>
                    <div class="year">12345 <span id="yyllyk" data-content>a year</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomInformation" >
        <div class="container bottomCon">
            <div class="titleCon">
                <div class="big" id="follow" data-content>Yazylyshyk</div>
                <div class="title" id="followDefinition" data-content>Oz email inizi girizin tazelikler ucin</div>
            </div>
            
            <div class="inputCon">
                <input type="email" id="pocta" data-content  placeholder="Email Address">
                <input class="submit" type="submit" value="Goshulmak">
            </div>
        </div>
    </div>
</div>


    <script src="/scripts/js/component/fileSend.js"></script>
    <script>
        var submit = document.querySelector(".submit");
        submit.addEventListener('click',async function(){
            var input = document.querySelector('.inputCon input[type=email]');
            var data = {
                name:input.value
            } 
            var status = await mail(`<%=host%>/mail`,data);
            if(status.status == 200){
                alert("Siz goshuldynyz");
            }
        });
    </script>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/src/materialize/splide.js"></script>
    <script src="/scripts/src/jquery/jquery.min.js"></script>
  </body>
</html>