<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/style/src/materialize/splide.min.css">
    <title>Document</title>
    <style>
      .dropbtn3 {
        color: #999999;
        background: none;
        font-size: 14px;
        border: none;
        cursor: pointer;
      }

      .dropdown3 {
        position: relative;
        display: inline-block;
      }

      .dropdown-content3 {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
        right: 0;
      }

      .dropdown-content3 .dil {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: auto !important;
      }

      .dropdown3 .dil:hover {background-color: #ddd;}

      .show {display: block;}
    </style>
</head>
<body>
    <div class="container" style="overflow-x: visible;">
        <nav>
            <a href="/">
                <div class="left">
                    <div class="logo">
                        <img src="/pictures/logo/logo.svg" alt="">
                    </div>
                    <div class="title" data-content id='title'>Union of Industrialists and entrepreneurs of turkmenistan</div>
                </div>
            </a>
            
          <div class="right">
            <!-- <div class="language">
              <div class='chosen-lang' href='#' data-target='dropdown1'></div>
    
              <ul id='dropdown1' class='dropdown-content'>
                <li class="lang-link" data-content id="TM">TM</li>
                <li class="lang-link" data-content id="EN">EN</li>
                <li class="lang-link" data-content id="RU">RU</li>
              </ul>
            </div> -->
            <div class="search">
              <div class="icon">
                <img src="/pictures/icon/search.png" alt="">
              </div>
              <div class="searchText" data-content id='search'></div>
            </div>

            <div class="dropdown3 language">
              <button onclick="myFunction()" class="dropbtn3 chosen-lang"></button>
              <div id="myDropdown3" class="dropdown-content3">
                <div class="dil lang-link" data-content id="TM">TM</div>
                <div class="dil lang-link" data-content id="EN">EN</div>
                <div class="dil lang-link" data-content id="RU">RU</div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    
    
      
      <div class="nav2">
        <div class="container">
          
            <div class="con">
              <div class="left">
                <a href="/sppt">
                  <div data-content id='sppt'>SPPT</div>
                </a>
                <a href="/agzalar/-1">
                  <div data-content id='spptMember'>SPPT Membership</div>
                </a>
                <a href="/membership">
                  <div data-content id='membership'>Membership</div>
                </a>
                <a href="/onlineBusiness">
                  <div data-content id='onlineBusiness'>Online Business</div>
                </a>
                <a href="/businessPlans">
                  <div data-content id='businessPlan'>Business Plans</div>
                </a>
                <a href="/licenses">
                  <div data-content id='licenses'>Licenses</div>
                </a>
                <a href="/consultation">
                  <div data-content id='consultation'>Consultation</div>
                </a>
              </div>
              <div class="right">
                <div class="dots"><img src="/pictures/icon/dots.png" alt=""></div>
                <div data-content id="menu"></div>
              </div>
            </div>
            <div class="nagysh"></div>
          </div>
        </div>
      </div>

      <script>
        var size = document.defaultView;
        if(size.innerWidth <=1000){
          changeLangPlace();
          var a = document.querySelector('.dropdown-content3');
          var b = document.querySelector(".dropbtn3")
          a.style.left = '0'
          b.style.color = 'white'
        }

        size.addEventListener("resize",function(){
          if(size.innerWidth <= 1000){
            changeLangPlace();
            var a = document.querySelector('.dropdown-content3');
            var b = document.querySelector(".dropbtn3")
            a.style.left = '0'
            b.style.color = 'white'
          }else{
            reChangeLangPlace();
            var a = document.querySelector('.dropdown-content3');
            var b = document.querySelector(".dropbtn3")
            a.style.right = '0'
            a.style.left = 'auto'
            b.style.color = 'gray'
          }
        })

        function changeLangPlace(){
          const lang = document.querySelector(".language");
          lang.parentNode.removeChild(lang);
          const nav2 = document.querySelector(".nav2 .container");
          const left = document.querySelector(".nav2 .left");
          left.parentNode.insertBefore(lang,left.nextSibling);
        }
        function reChangeLangPlace(){
          const lang = document.querySelector(".language");
          lang.parentNode.removeChild(lang);
          const search = document.querySelector(".search");
          search.parentNode.insertBefore(lang,search.nextSibling);
        }
      </script>


  <script>
    function myFunction() {
      document.getElementById("myDropdown3").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn3')) {
        var dropdowns = document.getElementsByClassName("dropdown-content3");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
</body>
</html>