<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>


    <section class="agzalar" style="background-color: white;">
        <div class="container">
            <div class="agzalarHeader">Бизнес-планы</div>
            <div class="subName">Строительная промышленность</div>
            <div class="mazmunHeader">13 июня 2010 года на основании Решения Правления Союза промышленников и предпринимателей Туркменистана, было создано общественное предприятие “Бирлешме гурлушык”, а также утвержден Устав в соответствии с действующим законодательством.</div>
            <div class="videoCon">
                <video src="/pictures/news/video1.mp4" controls></video>
            </div>
            <div class="mazmun">• 60 четырехэтажных жилых домов построенных в западной части жилого комплекса Кеши города Ашхабад
                • 332 двухэтажных коттеджа в жилом комплексе Чоганлы
                
                • Двенадцатиэтажный 66 квартирный жилой дом, расположенный по адресу город Ашхабад, ул.Огузхан, 132
                
                • 10 двенадцатиэтажных жилых домов, расположенных на перекрестке улиц Гарашсызлык и Битарап Туркменистан
                
                • Торговый центр и многоэтажные жилые дома, расположенные вдоль улиц Сеиди и Молланепес
                
                • Комплекс зданий, состоящих из свадебного зала, торгового центра, многоэтажного бизнес центра вдоль проспекта Туркменбаши
                
                • Комплекс зданий, состоящих из свадебного зала, торгового центра, многоэтажного бизнес центра и многоэтажной автостоянки вдоль проспекта А.Ниязова
                
                • Развлекательный оздоровительный комплекс, состоящий из коттеджей в национальной туристической зоне “Аваза”
                
                • Отель “Тяджир”
                
                • Торгово-развлекательный центр “Беркарар”
                
                • Торговый центр “15 лет Независимости”
                
                • Торговый центр “Берекетли”
                
                • Строительно-монтажные работы инженерной инфраструктуры промышленной зоны и производственной базы на улице ГюКулиева города Ашхабад
                
                • Складские помещения ждя хранения ввозимых товаров, а также для хранения товаров, производимых членами Союза в этрапе Ак бугдай Ахалского велаята
                
                • Комплексы зданий в Балканабате, Дашогузе, Чарджоу и Мары
                
                • Детский сад на 160 мест в Республике Молдова
                
                • Заказчик школы на 190 мест в Астраханской области Российской Федерации</div>

                <div class="splide">
                    <div class="splide__track">
                      <ul class="splide__list">
                        <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen3.png" alt=""></div></a></li>
                        <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen1.png" alt=""></div></a></li>
                        <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen2.png" alt=""></div></a></li>
                      </ul>
                    </div>
                </div>
        </div>
    </section>


    <%- include ('../src/bottom.ejs') %>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
              new Splide('.splide',{
                  type:"loop",
                  perPage:1,
                  autoplay:true,
                  cover:true
                }).mount();
            });
     </script>
</body>
</html>