<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>


    <section class="agzalar" style="background-color: white;">
        <div class="container">
            <div class="agzalarHeader">Бизнес-планы</div>
            <div class="subName">Лицензирование</div>

            <div class="textCon">
                 <div class="text">
                     <div class="mazmunHeader">13 июня 2010 года на основании Решения Правления Союза промышленников и предпринимателей Туркменистана, было создано общественное предприятие “Бирлешме гурлушык”, а также утвержден Устав в соответствии с действующим законодательством.</div>
                     <div class="mazmun">Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок. Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.</div>
                 </div>
                 <div class="text">
                     <div class="mazmunHeader">13 июня 2010 года на основании Решения Правления Союза промышленников и предпринимателей Туркменистана, было создано общественное предприятие “Бирлешме гурлушык”, а также утвержден Устав в соответствии с действующим законодательством.</div>
                     <div class="mazmun">Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок. Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.</div>
                 </div>
                 <div class="text">
                     <div class="mazmunHeader">13 июня 2010 года на основании Решения Правления Союза промышленников и предпринимателей Туркменистана, было создано общественное предприятие “Бирлешме гурлушык”, а также утвержден Устав в соответствии с действующим законодательством.</div>
                     <div class="mazmun">Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок. Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.Основная цель предприятия состоит в контроле над ведением стротельных работ, Заказчиком некоторых из которых выступает самое предприятие, контроле над качеством строительства, контроле над сдачей в эксплуатацию строительных обектов в установленный срок.</div>
                 </div>
            </div>

            <div class="splide">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen3.png" alt=""></div></a></li>
                    <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen1.png" alt=""></div></a></li>
                    <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen2.png" alt=""></div></a></li>
                  </ul>
                </div>
            </div>
        </div>
    </section>



    <%- include ('../src/bottom.ejs') %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
              new Splide('.splide',{
                  type:"loop",
                  perPage:1,
                  autoplay:true,
                  cover:true
                }).mount();
            });
     </script>
</body>
</html>