<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>

<!-- For ishlaninde jubut cardlara reverse diyen class goshulmaly we img bilen right bolan elementlerin yerini chalyshmaly. -->
    
    <section class="agzalar" style="background-color: white;">
        <div class="container">
            <div class="agzalarHeader">Бизнес-планы</div>
            <div class="subName">Лицензирование</div>

            <div class="mazmunHeader">13 июня 2010 года на основании Решения Правления Союза промышленников и предпринимателей Туркменистана, было создано общественное предприятие “Бирлешме гурлушык”, а также утвержден Устав в соответствии с действующим законодательством.</div>

            <div class="templateCards">
                <div class="card" style="margin-bottom:100px;">
                    <div class="main">
                        <div class="img"><img src="/pictures/news/online.png" alt=""></div>
                        <div class="right">
                            <div class="place" style="margin-bottom: 30px; font-size: 26px;">Строительная промышленность</div>
                            <div class="tempContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ab! Totam tenetur unde, ea officia cupiditate, consequatur atque a incidunt quos reiciendis quaerat voluptas et. Ab aliquid eius magnam voluptatibus corrupti consequuntur? Ratione velit labore, dicta, vitae veniam repudiandae fuga earum ipsam quas voluptatibus obcaecati suscipit ipsum quam placeat corrupti eos perspiciatis incidunt quod fugit eius cumque laborum iusto? Atque asperiores consequuntur quos necessitatibus minima quo, ipsa, deserunt rerum laboriosam omnis ullam fuga soluta odit obcaecati nobis, illo voluptate distinctio quae maiores. Dolorem tenetur soluta facilis voluptas rem et pariatur, ipsum ut fuga. Accusamus sint non aut voluptatem minima ullam atque officia nisi, beatae voluptate consequatur magni quaerat! Molestiae nisi alias est. Impedit blanditiis sequi provident debitis? Placeat accusamus sequi veniam quia maxime mollitia nisi eius necessitatibus veritatis ducimus tempore accusantium, quasi ad labore vel reiciendis tenetur repellat minima, commodi repellendus saepe. Temporibus laboriosam voluptas odit excepturi odio, dolores debitis vero delectus laborum neque dicta obcaecati nesciunt vitae nemo earum magnam a! Mollitia ad expedita, maiores pariatur molestiae tempora voluptatem commodi atque, officia tempore nostrum unde possimus odit autem deserunt voluptas voluptates impedit corrupti. Est, nam alias quisquam iusto dignissimos dolorem libero dicta veniam quo doloribus commodi, molestias, maiores consectetur?</div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom:100px;">
                    <div class="main reverse">
                        <div class="right">
                            <div class="place" style="margin-bottom: 30px; font-size: 26px;">Строительная промышленность</div>
                            <div class="tempContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ab! Totam tenetur unde, ea officia cupiditate, consequatur atque a incidunt quos reiciendis quaerat voluptas et. Ab aliquid eius magnam voluptatibus corrupti consequuntur? Ratione velit labore, dicta, vitae veniam repudiandae fuga earum ipsam quas voluptatibus obcaecati suscipit ipsum quam placeat corrupti eos perspiciatis incidunt quod fugit eius cumque laborum iusto? Atque asperiores consequuntur quos necessitatibus minima quo, ipsa, deserunt rerum laboriosam omnis ullam fuga soluta odit obcaecati nobis, illo voluptate distinctio quae maiores. Dolorem tenetur soluta facilis voluptas rem et pariatur, ipsum ut fuga. Accusamus sint non aut voluptatem minima ullam atque officia nisi, beatae voluptate consequatur magni quaerat! Molestiae nisi alias est. Impedit blanditiis sequi provident debitis? Placeat accusamus sequi veniam quia maxime mollitia nisi eius necessitatibus veritatis ducimus tempore accusantium, quasi ad labore vel reiciendis tenetur repellat minima, commodi repellendus saepe. Temporibus laboriosam voluptas odit excepturi odio, dolores debitis vero delectus laborum neque dicta obcaecati nesciunt vitae nemo earum magnam a! Mollitia ad expedita, maiores pariatur molestiae tempora voluptatem commodi atque, officia tempore nostrum unde possimus odit autem deserunt voluptas voluptates impedit corrupti. Est, nam alias quisquam iusto dignissimos dolorem libero dicta veniam quo doloribus commodi, molestias, maiores consectetur?</div>
                        </div>
                        <div class="imgLeft"><img src="/pictures/news/online.png" alt=""></div>
                    </div>
                </div>
                <div class="card" style="margin-bottom:100px;">
                    <div class="main">
                        <div class="img"><img src="/pictures/news/online.png" alt=""></div>
                        <div class="right">
                            <div class="place"  style="margin-bottom: 30px; font-size: 26px;">Строительная промышленность</div>
                            <div class="tempContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ab! Totam tenetur unde, ea officia cupiditate, consequatur atque a incidunt quos reiciendis quaerat voluptas et. Ab aliquid eius magnam voluptatibus corrupti consequuntur? Ratione velit labore, dicta, vitae veniam repudiandae fuga earum ipsam quas voluptatibus obcaecati suscipit ipsum quam placeat corrupti eos perspiciatis incidunt quod fugit eius cumque laborum iusto? Atque asperiores consequuntur quos necessitatibus minima quo, ipsa, deserunt rerum laboriosam omnis ullam fuga soluta odit obcaecati nobis, illo voluptate distinctio quae maiores. Dolorem tenetur soluta facilis voluptas rem et pariatur, ipsum ut fuga. Accusamus sint non aut voluptatem minima ullam atque officia nisi, beatae voluptate consequatur magni quaerat! Molestiae nisi alias est. Impedit blanditiis sequi provident debitis? Placeat accusamus sequi veniam quia maxime mollitia nisi eius necessitatibus veritatis ducimus tempore accusantium, quasi ad labore vel reiciendis tenetur repellat minima, commodi repellendus saepe. Temporibus laboriosam voluptas odit excepturi odio, dolores debitis vero delectus laborum neque dicta obcaecati nesciunt vitae nemo earum magnam a! Mollitia ad expedita, maiores pariatur molestiae tempora voluptatem commodi atque, officia tempore nostrum unde possimus odit autem deserunt voluptas voluptates impedit corrupti. Est, nam alias quisquam iusto dignissimos dolorem libero dicta veniam quo doloribus commodi, molestias, maiores consectetur?</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="splide">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen3.png" alt=""></div></a></li>
                    <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen1.png" alt=""></div></a></li>
                    <li class="splide__slide"><a href="/>"><div><img src="/pictures/reklams/kerwen2.png" alt=""></div></a></li>
                  </ul>
                </div>
            </div>
        </div>
    </section>


    <%- include ('../src/bottom.ejs') %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
              new Splide('.splide',{
                  type:"loop",
                  perPage:1,
                  autoplay:true,
                  cover:true
                }).mount();
            });
     </script>
</body>
</html>