<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>

<body>
    <%- include ('../admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %>
            </div>
            <div class="addKategori">
                Kategoriýa goşmak
                <img src="/pictures/icon/plus.svg" alt="plus">
            </div>
        </div>
    <form action="/admin/internetSowda" method="POST" id="identifier">
        <div class="adminTable addHabar">
            <div class="box">
                <div class="boxHeader">Türkmençe giriziň</div>
                <div class="headerCon">
                    <label for="">Ady:</label>
                    <input type="text">
                    <label for="">Address:</label>
                    <input type="text">
                </div>
                <br><br>
                <div class="boxHeader">Rusça giriziň</div>
                <div class="headerCon">
                    <label for="">Ady:</label>
                    <input type="text">
                    <label for="">Address:</label>
                    <input type="text">
                </div><br><br>
                <div class="boxHeader">Iňlisçe giriziň</div>
                <div class="headerCon">
                    <label for="">Ady:</label>
                    <input type="text">
                    <label for="">Address:</label>
                    <input type="text">
                </div>
            </div>

            <div class="box imgBox">
                <div class="headerCon">
                    <div class="suratHeader">
                        <label for="">Suraty giriziň:</label>
                        <label for="sowdaSurat">Surat goşmak <img src="/pictures/icon/plus.svg" alt=""></label>
                        <input type="file" onchange="takeImg(event)" id="sowdaSurat" style="display: none;">
                    </div>
                </div>
                <label for="" class="imgsCon">
                    <!-- js bilen bir tag gelyar surat yok bolondo default surat gelyan -->
                    <div class="imgCon" >
                        <!-- js bilen doldurylyar surat goyulyar -->
                    </div>
                </label>
                <div class="headerCon">
                    <label for="" class="select">
                        <div>
                            Welaýat saýlan:
                        </div>
                        <select name="" id="" class="welayatSelect">
                            <option value="">Ashgabat</option>
                            <option value="">Ahal</option>
                            <option value="">Balkan</option>
                            <option value="">Lebap</option>
                            <option value="">Mary</option>
                            <option value="">Daşoguz</option>
                        </select>
                    </label>
                    <label style="margin-top: 4px;" for="" class="select">
                        <div>
                            Kategoriýa saýlaň:
                        </div>
                        <select  name="" id="" class="welayatSelect">
                            <option value="">Ashgabat</option>
                            <option value="">Ahal</option>
                            <option value="">Balkan</option>
                            <option value="">Lebap</option>
                            <option value="">Mary</option>
                            <option value="">Daşoguz</option>
                        </select>
                    </label>
                    <label style="margin-top:0;" for="">Telefon:</label>
                    <input type="text">
                    <label for="">Email:</label>
                    <input type="email">
                    <label for="">Web-saýt:</label>
                    <input type="text">
                </div>
            </div>
            <input class="save" type="submit" value="Ýatda sakla">
    </form>
    </div>

    <div class="bg" style="display: none;"></div>
    <div class="kategoriPopup" style="display: none;">
        <div class="head">Täze giriziljek katigoriýanyň adyny giriziň </div>
        <form action="/internetKategori" method="POST" class="kategori">
            <label for="tm">Turkmen</label>
            <input autocomplete="off" type="text" name="tm" id="tm">
            <label for="ru">Rusça</label>
            <input autocomplete="off" type="text" id="ru" name="ru">
            <label for="en">Iňlisçe</label>
            <input autocomplete="off" type="text" id="en" name="en">
            <input type="submit" value="Ýatda sakla">
        </form>
    </div>


   

    <!-- picture show when i choose from file -->
    <script>
        var imgCount = 0;
        var delCount = 0;
        var imgs = [];
        function takeImg(event){
            if(event.target.files[0] != undefined){
                var imgCon = document.querySelector(".imgCon");
                imgCon.innerHTML += `<div class="div ${delCount}">
                                        <img class="img" src="" alt="">
                                        <div class="imgDelete" onclick="delImg(${delCount})"><img src="/pictures/icon/delete.svg"  alt=""></div>
                                    </div>`;
                
                var img = document.querySelectorAll(".imgCon .div .img");
                img[imgCount].src = URL.createObjectURL(event.target.files[0]);
                var obj = {
                    id:delCount,
                    event:event.target.files[0]
                }
                imgCount+=1;
                delCount+=1;
                imgs.push(obj);
                imgLen();
            }
        }

        function delImg(san){
            var imgCon = document.querySelectorAll(".imgCon .div");
            for(var i = 0; i<imgs.length; i++){
                if(imgs[i].id == san){
                    imgs.splice(i,1);
                }
            }

            for(var i = 0; i<imgCon.length ; i++){
                var a = imgCon[i].classList.contains(san);
                if(a){
                    imgCon[i].remove();
                    break;
                }
            }
            
            imgCount-=1;
            imgLen();
        }

        var bool = false;
        function imgLen(){
            if(imgs.length==0){
                var imgsCon = document.querySelector(".imgsCon");
                var imgCon = document.querySelector(".imgCon");
                imgCon.style.height = "0";
                var old = imgsCon.innerHTML;
                imgsCon.innerHTML = `<div class="noneImg">
                                        <img src="/pictures/icon/addPicture.svg" alt="">
                                    </div>`+old;
                bool = true;
            }else if(imgs.length == 1 && bool){
                var imgNone = document.querySelector(".noneImg");
                imgNone.remove();
                var imgCon = document.querySelector(".imgCon");
                imgCon.style.height = "200px";
                bool = false;
            }
        }
        imgLen();

        var submit = document.querySelector(".save");
        submit.addEventListener("click",async function(e){
            // e.preventDefault();
            var data = new FormData();
            for(var i = 0; i<imgs.length; i++){
                data.append(`img${i}`,imgs[i].event)
            }
            const option = {
                method : "POST",
                body : data
            }
            await fetch('/picture/admin/internetSowda',option)
            
        })
    </script>

    <!-- popup ishletmek -->
    <script>
        dropActive(2,4);
        popup();
    </script>



</body>
</html>


