@import "../color";


.locationSection{
    padding-top:150px;
    .container{
        .sectionHeader{
            font-weight: 700;
            font-size: 26px;
            padding-bottom:60px;
        }
        .location{
            @include center(space-between,flex-start);
            .map{
                width: 70%;
                fill:#C4C4C4;
                .tm{
                    width: 80%;
                    .active{
                      fill:#2058D4;
                    }  
                }
                svg{
                    width: 100%;
                }
            }
            .info{
                width: 30%;
                padding: 20px;
                .head{
                    font-size: 24px;
                    font-weight: 600;
                }
                .information{
                    color: $gray;
                }
                .title{
                    font-weight: 600;
                    padding: 5px 0;
                }
            }
        }
        .splide3{
            margin-top:100px;
            img{
                width: 100%;
            }
        }
    }
}