<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>

    <section class="agzalar business" style="background-color: white;">
        <div class="container">
            <div class="agzalarHeader" style="border: none; margin-bottom:0;">Интернет-торговля</div>
            <div class="agzalarWelayatlar">
                <div class="welayat active" id="0">Ashgabat</div>
                <div class="welayat" id="1">Ahal</div>
                <div class="welayat" id="2">Dashoguz</div>
                <div class="welayat" id="3">Balkan</div>
                <div class="welayat" id="4">Lebap</div>
                <div class="welayat" id="5">Mary</div>
            </div>
            <div class="selection">
                <div class="agzaDefinition">Выберите категорию:</div>
                <div class="navbar">
                    <div class="dropdown">
                        <div class="dropbtn" onclick="myFunction()">Dropdown
                            <div class="img">
                                <svg width="10" height="12" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.490234 18.1301L2.26023 19.9001L12.1602 10.0001L2.26023 0.100098L0.490234 1.8701L8.62023 10.0001L0.490234 18.1301Z" fill="#323C44"/>
                                </svg>
                            </div>
                        </div>
                    <div class="dropdown-content" id="myDropdown">
                      <a href="#kat">Link fsdfjkdjkfjdkjfkjdkffffffffffffffffffffffffffffffffffffffffffffffff fdf </a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                    </div> 
                </div>
      
            </div>
        </div>
    </section>
    
    <section class="business">
        <div class="container">
            <div class="businessCon">
                <div class="kategoriName" id="kat">Продовольствие и товары для дома</div>
                <div class="businessOne">
                    <div class="picture">
                        <div class="container">
                            <div class="mySlides">
                                <img src="/pictures/news/news1.png" style="width:100%">
                            </div>
                          
                            <div class="mySlides">
                                <img src="/pictures/news/news2.png" style="width:100%">
                            </div>
                          
                            <div class="mySlides">
                                <img src="/pictures/news/news3.png" style="width:100%">
                            </div>

                            <div class="row">
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news1.png" style="width:100%" onclick="currentSlide(1,0)" alt="The Woods">
                              </div>
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news2.png" style="width:100%" onclick="currentSlide(2,0)" alt="Cinque Terre">
                              </div>
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news3.png" style="width:100%" onclick="currentSlide(3,0)" alt="Mountains and fjords">
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="infoCon">
                        <div class="label">Имя:</div>
                        <div class="infoLabel">"Bagtyýarlyk" restoran</div>
                        <div class="label">Адрес:</div>
                        <div class="infoLabel">Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013</div>
                        <div class="label">Телефон:</div>
                        <div class="infoLabel">+9934348938</div> 
                        <div class="label">Почта:</div>
                        <div class="infoLabel">+99365894611</div>
                        <div class="label">Веб-сайт:</div>
                        <div class="web">https://tstb.gov.tm/</div>
                    </div>
                </div>
                <div class="kategoriName" id="kat">Продовольствие и товары для дома</div>
                <div class="businessOne">
                    <div class="picture">
                        <div class="container">
                            <div class="mySlides">
                                <img src="/pictures/news/news1.png" style="width:100%">
                            </div>
                          
                            <div class="mySlides">
                                <img src="/pictures/news/news2.png" style="width:100%">
                            </div>
                          
                            <div class="mySlides">
                                <img src="/pictures/news/news3.png" style="width:100%">
                            </div>

                            <div class="row">
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news1.png" style="width:100%" onclick="currentSlide(1,1)" alt="The Woods">
                              </div>
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news2.png" style="width:100%" onclick="currentSlide(2,1)" alt="Cinque Terre">
                              </div>
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news3.png" style="width:100%" onclick="currentSlide(3,1)" alt="Mountains and fjords">
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="infoCon">
                        <div class="label">Имя:</div>
                        <div class="infoLabel">"Bagtyýarlyk" restoran</div>
                        <div class="label">Адрес:</div>
                        <div class="infoLabel">Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013</div>
                        <div class="label">Телефон:</div>
                        <div class="infoLabel"></div> 
                        <div class="label">Почта:</div>
                        <div class="infoLabel">+99365894611</div>
                        <div class="label">Веб-сайт:</div>
                        <div class="web">https://tstb.gov.tm/</div>
                    </div>
                </div>
                <div class="businessOne">
                    <div class="picture">
                        <div class="container">
                            <div class="mySlides">
                                <img src="/pictures/news/news1.png" style="width:100%">
                            </div>
                          
                            <div class="mySlides">
                                <img src="/pictures/news/news2.png" style="width:100%">
                            </div>
                          
                            <div class="mySlides">
                                <img src="/pictures/news/news3.png" style="width:100%">
                            </div>

                            <div class="row">
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news1.png" style="width:100%" onclick="currentSlide(1,2)" alt="The Woods">
                              </div>
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news2.png" style="width:100%" onclick="currentSlide(2,2)" alt="Cinque Terre">
                              </div>
                              <div class="column">
                                <img class="demo cursor" src="/pictures/news/news3.png" style="width:100%" onclick="currentSlide(3,2)" alt="Mountains and fjords">
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="infoCon">
                        <div class="label">Имя:</div>
                        <div class="infoLabel">"Bagtyýarlyk" restoran</div>
                        <div class="label">Адрес:</div>
                        <div class="infoLabel">Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013Aşgabat şäheriniň A.Nyýazow köçesi 174-nji jaýy 744013</div>
                        <div class="label">Телефон:</div>
                        <div class="infoLabel"></div> 
                        <div class="label">Почта:</div>
                        <div class="infoLabel">+99365894611</div>
                        <div class="label">Веб-сайт:</div>
                        <div class="web">https://tstb.gov.tm/</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include ('../src/bottom.ejs') %>
    <!-- dropdown -->
    <script>
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
            }
        }
        }
  
    </script>

    <!-- Gallery -->
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        

    // Thumbnail image controls
        function currentSlide(n,m) {
            showSlides(slideIndex = n,m);
        }

        function showSlides(n,m) {
            var i;
            var business = document.querySelectorAll(".businessOne");
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");

            if(m == undefined){
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for(var i = 0; i<business.length; i++){
                    business[i].childNodes[1].childNodes[1].childNodes[1].style.display = "block";
                    business[i].childNodes[1].childNodes[1].childNodes[7].childNodes[1].childNodes[1].className += " active";
                }
            }else{
                for (i = 1; i <= business.length; i++) {
                    business[m].childNodes[1].childNodes[1].childNodes[i*2-1].style.display = "none";
                    business[m].childNodes[1].childNodes[1].childNodes[7].childNodes[i*2-1].childNodes[1].classList.remove("active");
                }
                business[m].childNodes[1].childNodes[1].childNodes[n*2-1].style.display = "block";
                business[m].childNodes[1].childNodes[1].childNodes[7].childNodes[n*2-1].childNodes[1].classList.add("active");
            }
        }
    </script>

    <script>
        active(3);
    </script>


    <!-- Which welayat -->
    <script>
        const welayat = document.querySelectorAll(".welayat");

        var id  = -1;
        if(id<0){
            show(welayat[0])
        }else{
            show(welayat[id])
        }
        for(var i = 0; i<welayat.length; i++){
            welayat[i].addEventListener("click",function(){
                show(this);
            })
        }

        function show(e){
            for(var j = 0; j<welayat.length; j++){
                welayat[j].classList.remove("active");
                
            }
            e.classList.add("active");
        }
        
    </script>
</body>
</html>