<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>

    <section class="consultation">
        <div class="container">
            <div class="header">Консультация</div>
            <div class="name">Адвокатура – профессиональное объединение адвокатов, основанное на принципах самоуправления, созданное в целях осуществления адвокатской деятельности, являющееся правовым институтом гражданского общества и не входящее в систему органов государственной власти и управления.</div>
            <div class="img"><img src="/pictures/news/news1.png" alt=""></div>
            <div class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsam beatae ut dolorum aut. Cupiditate excepturi ex dignissimos eveniet eum veniam totam corrupti. Voluptatem repudiandae vitae non recusandae nulla rerum est nemo ad porro eligendi ducimus laborum neque natus corrupti atque reprehenderit necessitatibus, accusantium provident inventore veritatis? Alias voluptatem enim eum quisquam recusandae ratione perspiciatis eos labore saepe vero, quasi culpa numquam eaque minima? Eveniet, dolor reprehenderit? Ipsum voluptas ipsam atque perferendis ut temporibus veritatis, architecto assumenda molestiae. Laborum possimus, odio debitis, tenetur fuga, fugiat quo iste ex maiores dignissimos praesentium dicta suscipit mollitia consequuntur laboriosam nulla! Id ducimus dignissimos doloribus mollitia reiciendis voluptatibus et qui iste nulla nam reprehenderit, fugit molestiae quae tempore non culpa consequuntur, eveniet provident! Deleniti iste sit, distinctio delectus assumenda at eius asperiores animi placeat natus tempora harum. Error quaerat doloremque cumque ad sequi ea illo obcaecati, odio adipisci perspiciatis officia quis odit magnam id. Enim sed repudiandae officiis rem, labore omnis nulla quidem asperiores soluta nobis assumenda fuga, voluptates eligendi ut! Cupiditate natus corporis aspernatur amet optio praesentium deserunt velit, quibusdam adipisci quia minus quaerat consequuntur animi nostrum numquam non? Placeat quaerat laudantium fuga libero saepe alias sint nulla eaque velit veritatis quisquam, explicabo ex. Impedit iure molestias dolorum asperiores magni animi ipsam maiores eos temporibus dolor dicta fugiat dolorem cupiditate quibusdam enim, eligendi voluptatibus quisquam eveniet quia modi, perspiciatis nam nesciunt nostrum quis? Necessitatibus harum voluptates perferendis nihil ab commodi dicta quidem delectus velit explicabo nostrum et facere dignissimos placeat iste numquam blanditiis, expedita quae magni temporibus ratione. Nulla voluptatibus sapiente explicabo voluptate doloremque delectus nostrum, beatae, tempore obcaecati quia mollitia. Inventore eius, culpa ipsam, voluptatem sequi est sunt numquam velit fugit ab, aspernatur reprehenderit quidem iste nostrum vel provident quasi eaque suscipit atque blanditiis corporis. Aperiam labore doloremque consequuntur nulla reiciendis molestiae!</div>
        </div>
    </section>
    

    <%- include ('../src/bottom.ejs') %>

    <!-- 7 sany page navbardaky sholara active beryar -->
    <script>active(6)</script>
</body>
</html>