<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>

    <section class="agzalar" style="background:white">
        <div class="container" style="background-color: white;">
            <div class="agzalarHeader">Лицензирование</div>

            <div class="header">Туристические лицензии</div>
            <div class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, numquam ea iusto ducimus ab, dolorem recusandae est quos, exercitationem alias repellat neque quis. Maiores nostrum ea numquam neque pariatur voluptate!</div>
            <div class="adress">Flayllar download etmek uchin</div>
            <div class="filesCon">
                <div class="file">
                    <div class="icon"><img src="/pictures/icon/file.svg" alt=""></div>
                    <div class="fileRight">
                        <div class="name"><a href="" download>Gowy dokumentler</a></div>
                        <div class="kb">123kb </div>
                    </div>
                </div>
                <div class="file">
                    <div class="icon"><img src="/pictures/icon/file.svg" alt=""></div>
                    <div class="fileRight">
                        <div class="name"><a href="" download>Gowy dokumentler</a></div>
                        <div class="kb">123kb </div>
                    </div>
                </div>
                <div class="file">
                    <div class="icon"><img src="/pictures/icon/file.svg" alt=""></div>
                    <div class="fileRight">
                        <div class="name"><a href="" download>Gowy dokumentler</a></div>
                        <div class="kb">123kb </div>
                    </div>
                </div>
                <div class="file">
                    <div class="icon"><img src="/pictures/icon/file.svg" alt=""></div>
                    <div class="fileRight">
                        <div class="name"><a href="" download>Gowy dokumentler</a></div>
                        <div class="kb">123kb </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include ('../src/bottom.ejs') %>

    <!-- 7 sany page navbardaky sholara active beryar -->
    <script>active(5)</script>
</body>
</html>