<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSTB</title>
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
</head>
<body>
    <%- include ('../src/header.ejs') %>

    <section class="login">
        <div class="container">
            <div class="header">Login</div>
            <div class="title">Войдите и начните управлять своими кандидатами!</div>
            <form action="/login" id="a" method="post">
                <input type="text" placeholder="Login" name="login" required>
                <div class="password">
                    <input type="password" placeholder="Password" name="password" required>
                    <div class="eye"><img src="/pictures/icon/eye.svg" alt=""></div>
                </div>
                <!-- <div class="forget"><a href="">Забыл пароль?</a></div> -->
                <input type="submit" value="Войти">
                <div class="error" style="display: none;">Bir yalnyşlyk bar!!!</div>
            </form>
        </div>
    </section>
    
    <%- include ('../src/bottom.ejs') %>
    <script src="/scripts/js/component/fileSend.js"></script>
    <!-- admin admin page girende ishleyar access beryar -->
    <script>
        var submit = document.querySelector("#a");
        submit.addEventListener("submit",async function(e){
            e.preventDefault();
            var inputs = document.querySelectorAll('#a input');
            var data = {
                name:inputs[0].value,
                pass:inputs[1].value
            }

            var res = await dataSend(data,`<%=host%>/login`);
            if(res.status == 200){
                sessionStorage.setItem('tstbAdmin',`'fkds;kfjaeurpeif jkd sf;dk sfjds0ffdsfde923 9rjdfjaj fdk;ljf'jgfjd;lsfjdsf;sfjdsljf;lsjalfjhlkjahjf hdsafjfjdkfljdsljf'`);
                location.replace('/admin/habarlar');
            }else{
                var err = document.querySelector(".error");
                err.style.display = "block";
            }
        })
    </script>


    <script>
        const eye = document.querySelector(".eye");
        const pass = document.querySelector("input[type='password']");
        var bool = true;
        eye.addEventListener("click",function(){
            if(bool){
                pass.setAttribute("type","text");
                bool = !bool;
            }else{
                pass.setAttribute("type","password");
                bool = !bool;
            }
        })
    </script>
</body>
</html>