<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>


    <div class="container">
        <div class="agzalarHeader">Членство</div>
        <div class="document">Нормативные документы</div>
        <div class="columns">
            <div class="col">
                <div class="name">Въездные документы</div>
                <div class="content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam, fugiat adipisci fuga esse nemo sed exercitationem itaque, eius quis suscipit. Tempora optio earum fuga! Aut laboriosam rerum eveniet voluptatum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur esse nihil veniam quidem quaerat, fugiat numquam necessitatibus impedit totam illum tenetur ex debitis quos aliquid velit fuga quisquam dolore beatae? Amet sed saepe earum id porro consectetur, voluptate provident unde nostrum voluptatibus deleniti qui aliquam, voluptates quo impedit! Ipsam harum maiores esse enim ullam earum eveniet, delectus, nihil, rem soluta aspernatur minus illum animi corrupti? Cum praesentium soluta ea necessitatibus a consequatur aliquid omnis molestias at quis. Aspernatur voluptate enim iste deserunt, cumque distinctio, quae, nam illum aliquam blanditiis quibusdam architecto molestias. Maiores et odio quam fuga consequatur nisi maxime!
                </div>
            </div>
            <div class="col">
                <div class="name">Члены Ассоциации, их права и обязанности</div>
                <div class="content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam, fugiat adipisci fuga esse nemo sed exercitationem itaque, eius quis suscipit. Tempora optio earum fuga! Aut laboriosam rerum eveniet voluptatum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur esse nihil veniam quidem quaerat, fugiat numquam necessitatibus impedit totam illum tenetur ex debitis quos aliquid velit fuga quisquam dolore beatae? Amet sed saepe earum id porro consectetur, voluptate provident unde nostrum voluptatibus deleniti qui aliquam, voluptates quo impedit! Ipsam harum maiores esse enim ullam earum eveniet, delectus, nihil, rem soluta aspernatur minus illum animi corrupti? Cum praesentium soluta ea necessitatibus a consequatur aliquid omnis molestias at quis. Aspernatur voluptate enim iste deserunt, cumque distinctio, quae, nam illum aliquam blanditiis quibusdam architecto molestias. Maiores et odio quam fuga consequatur nisi maxime!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur esse nihil veniam quidem quaerat, fugiat numquam necessitatibus impedit totam illum tenetur ex debitis quos aliquid velit fuga quisquam dolore beatae? Amet sed saepe earum id porro consectetur, voluptate provident unde nostrum voluptatibus deleniti qui aliquam, voluptates quo impedit! Ipsam harum maiores esse enim ullam earum eveniet, delectus, nihil, rem soluta aspernatur minus illum animi corrupti? Cum praesentium soluta ea necessitatibus a consequatur aliquid omnis molestias at quis. Aspernatur voluptate enim iste deserunt, cumque distinctio, quae, nam illum aliquam blanditiis quibusdam architecto molestias. Maiores et odio quam fuga consequatur nisi maxime!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur esse nihil veniam quidem quaerat, fugiat numquam necessitatibus impedit totam illum tenetur ex debitis quos aliquid velit fuga quisquam dolore beatae? Amet sed saepe earum id porro consectetur, voluptate provident unde nostrum voluptatibus deleniti qui aliquam, voluptates quo impedit! Ipsam harum maiores esse enim ullam earum eveniet, delectus, nihil, rem soluta aspernatur minus illum animi corrupti? Cum praesentium soluta ea necessitatibus a consequatur aliquid omnis molestias at quis. Aspernatur voluptate enim iste deserunt, cumque distinctio, quae, nam illum aliquam blanditiis quibusdam architecto molestias. Maiores et odio quam fuga consequatur nisi maxime!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur esse nihil veniam quidem quaerat, fugiat numquam necessitatibus impedit totam illum tenetur ex debitis quos aliquid velit fuga quisquam dolore beatae? Amet sed saepe earum id porro consectetur, voluptate provident unde nostrum voluptatibus deleniti qui aliquam, voluptates quo impedit! Ipsam harum maiores esse enim ullam earum eveniet, delectus, nihil, rem soluta aspernatur minus illum animi corrupti? Cum praesentium soluta ea necessitatibus a consequatur aliquid omnis molestias at quis. Aspernatur voluptate enim iste deserunt, cumque distinctio, quae, nam illum aliquam blanditiis quibusdam architecto molestias. Maiores et odio quam fuga consequatur nisi maxime!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur esse nihil veniam quidem quaerat, fugiat numquam necessitatibus impedit totam illum tenetur ex debitis quos aliquid velit fuga quisquam dolore beatae? Amet sed saepe earum id porro consectetur, voluptate provident unde nostrum voluptatibus deleniti qui aliquam, voluptates quo impedit! Ipsam harum maiores esse enim ullam earum eveniet, delectus, nihil, rem soluta aspernatur minus illum animi corrupti? Cum praesentium soluta ea necessitatibus a consequatur aliquid omnis molestias at quis. Aspernatur voluptate enim iste deserunt, cumque distinctio, quae, nam illum aliquam blanditiis quibusdam architecto molestias. Maiores et odio quam fuga consequatur nisi maxime!
                </div>
            </div>
        </div>
    </div>


    <%- include ('../src/bottom.ejs') %>

    <!-- navdaki 7 sany pagei active goshmak -->
    <script>
        active(2);
    </script>
</body>
</html>