<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>

    <section class="agzalar" style="background:white">
        <div class="container" style="background-color: white;">
            <div class="agzalarHeader">О СППТ</div>

            <div class="spptPic"><img src="/pictures/news/news1.png" alt=""></div>
            <div class="spptHeader">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto enim odit, sunt totam maxime dicta commodi eum tenetur praesentium quos!</div>
            <div class="spptText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quae magni minima maxime ut. Aspernatur, placeat nulla! Magni quaerat non voluptas, nulla autem numquam illum soluta rerum quidem quasi eius, a at officia minima veritatis voluptates sed ea fuga? Illo minus sequi id, delectus veniam praesentium in autem nulla repellendus fuga alias, odit libero sapiente. Odit voluptatem quae placeat hic iure ut minus at numquam adipisci quasi deleniti maxime eum quia minima non, unde consequuntur, nesciunt odio! Error asperiores, reprehenderit dolor repellat adipisci, nam tenetur dolorem cupiditate unde perspiciatis pariatur ad aliquam doloremque, officiis voluptatibus id facere? Minima tempore, aperiam ea rem corporis veniam ut eum eveniet aspernatur iusto. Veritatis esse assumenda delectus aliquid dicta consectetur magnam quia nihil necessitatibus voluptate ab, architecto quas deleniti et voluptates amet modi cum facere perferendis minus iste optio accusantium sint! Vel minus esse amet ipsa asperiores! Tempora, ipsum commodi? Ipsam sequi porro labore libero quam, sint numquam ad consequuntur, saepe illo pariatur obcaecati repudiandae reprehenderit vitae eos deserunt autem nisi animi? Quo, fuga. Hic magni dolore nesciunt aliquam sequi officiis numquam earum inventore iusto consectetur, molestiae possimus eos obcaecati unde quaerat a excepturi illum quo nobis consequatur voluptas! Deserunt quo molestiae est totam.</div>
        </div>
    </section>
    <%- include ('../src/bottom.ejs') %>

    <!-- 7 sany page navbardaky sholara active beryar -->
    <script>active(0)</script>
</body>
</html>